<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <h2>Arbortary</h2>
            <p>A site to track randomly planted Tree</p>
        </div>
        <div>
            <div>
                <a href="/user/account">My Trees</a>
                <h2 style="display:inline;">Welcome, {{user.first_name}}</h2>
            </div>
            <div style="text-align:center ;"><a href="/logged" style="display: inline; margin-right: 20px;"><button>Dashboard</button></a>
                <a href="/logout" style="display:inline ;"><button>logout</button></a>
            </div>
        </div>
    </header>
    <h1>{{tree.Species}} planted by {{tree.user.first_name}}</h1>
    <h2>Where:{{tree.location}}</h2>
    <h2>When:{{tree.date_planted}}</h2>
    <h2>Reason:{{tree.reason}}</h2>
</body>
</html>